header{
    background-color: #262324;
}
section{
    background-color: #262324;
    height: 100vh;
}

#main_section{
    position: relative;
    top: 25%;
}
.searchcard{
    margin-left: 7rem;
    
}
.card{
    width: 25rem;
}

.bold{
    font-weight: bold;
}

.header-titles{
    text-decoration: none; 
    color: white;
}
a.header-titles:hover{
    text-decoration: none;
}
#mainpg-left-card{
    border-width: thick; 
    border-color: black; 
    background-color: #262324; 
    border-radius: 1rem;
}
#mainpg-right-card{
    border-width: thick; 
    border-color: black; 
    background-color: #262324; 
    border-radius: 1rem;
}
.mainpg-input{
    margin-left: 1rem; 
    margin-top: 1rem;  
    border-radius: 13px; 
    border-width: thin; 
    height: 2rem; 
    background: #C4C4C4;
}
#mainpg-regno-input{
    margin-left: 1rem; 
    border-radius: 13px;
    border-width: thin; 
    height: 2rem; 
    background: #C4C4C4;
}
#ChooseBlock-bt-A{
    width: min-content; 
    background-color: #EF6568; 
    border-color: #EF6568; 
    color: white;
}
#ChooseBlock-bt-B{
    width: min-content; 
    background-color: #EF6568; 
    border-color: #EF6568; 
    color: white;
}
#ChooseBlock-bt-C{
    width: min-content; 
    background-color: #EF6568; 
    border-color: #EF6568; 
    color: white;
}
#ChooseBlock-bt-D{
    width: min-content; 
    background-color: #EF6568; 
    border-color: #EF6568; 
    color: white;
}
#decor-line{
    height: 30px; 
    width: 100%; 
    background-color:#03A191;
    margin-top: 2rem;
}

#search{
    margin-left: 4rem;
} 

.glow-on-hover {
    width: 110px;
    height: 37px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 14rem;
    margin-top: 1rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}