header{
    background-color: #262324;
}
section{
    background-color: #262324;
    height: 100vh;
    
}
#title_name1{
    text-align:center;
}
#main_section{
    position: relative;
    top: 25%;
}
.searchcard{
    margin-left: 7rem;
    
}
.card{
    width: 25rem;
    background-color: #262324;
}


